.thumbnail-item {
  list-style-type: none;
  margin: 10px 10px 8px 10px;
}

.thumbnail-button {
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
  padding: 0px;
}
.thumbnail-image {
  width: 90px;
}
@media screen and (min-width: 768px) {
  .thumbnail-image {
    width: 100px;
  }
}
